.home-container {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to bottom right, #f2f7ff, #e0eaff);
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  width:100vw;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin:35px;
}

.info-card {
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  width: 250px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.info-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(48, 79, 254, 0.3);
}

.card-image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}
